<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Copyright @ 2017 - Charlot Prins - Actriz de voz - Venezuela.</p>
  
            <a href="https://www.facebook.com/charlotprins"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	        <a href="https://twitter.com/charlotprins"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	        <a href="mailto:charlotprins@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	        <a href="https://www.linkedin.com/in/charlotprins/"><i id="social-tw" class="fa fa-linkedin-square fa-3x social"></i></a>
	        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-youtube-square fa-3x social"></i></a>
	        <p><span class="glyphicon glyphicon-phone"></span> +58-412-555-5555 </p>
</footer>